<div class="row" style="padding-top:20px;">
  <div class="col-md-4 col-md-offset-4">
    <ul class="list-group">
      <li class="list-group-item">
        <label for="item1">
          Item 1
          <input type="checkbox" id="item1" >
          | <a href="#">刪除</a>
        </label>
      </li>
      <li class="list-group-item">
        <label for="item2">
          Item 2
          <input type="checkbox" id="item2" >
          | <a href="#">刪除</a>
        </label>
      </li>
      <li class="list-group-item">
        <label for="item3">
          Item 3
          <input type="checkbox" id="item3" >
          | <a href="#">刪除</a>
        </label>
      </li>
    </ul>
  </div>
</div>
