<div class="row" style="padding-top:20px;">
  <div class="col-md-4 col-md-offset-4">
    <ul class="list-group">

      <li *ngFor="let item of items" class="list-group-item">
        <label htmlFor="chk_{{item.id}}">
          <input type="checkbox" id="chk_{{item.id}}" [checked]="item.done" (click)="itemClick(item)">
        </label>
        {{item.value}}
        | <a href="#" (click)="delete(item)">刪除</a>
        <span *ngIf="item.done">(Completed)</span>
      </li>

    </ul>
  </div>
</div>
